[submodule "Magma/vendor/spdlog"]
	path = Magma/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Magma/vendor/glfw"]
	path = Magma/vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "Magma/vendor/imgui"]
	path = Magma/vendor/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "Magma/vendor/glm"]
	path = Magma/vendor/glm
	url = https://github.com/g-truc/glm
